.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ignore json
*.json
.json
**.json

.DS_Store

examples/interpolator_pickle/
examples/interpolator_pickle/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Ignore build, dist and ler.egg-info
build
dist
ler.egg-info
test
