.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ignore json
*.json
.json
**.json
**/*.json
**/**/*.json
**/**/**/*.json
**/**/**/**/*.json
**/**/**/**/**/*.json

# ignore h5
*.h5
.h5
**.h5
**/*.h5
**/**/*.h5
**/**/**/*.h5
**/**/**/**/*.h5
**/**/**/**/**/*.h5

# ignore gz
*.gz
.gz
**.gz
**/*.gz
**/**/*.gz
**/**/**/*.gz
**/**/**/**/*.gz
**/**/**/**/**/*.gz

# ignore fits
*.fits
.fits
**.fits
**/*.fits
**/**/*.fits
**/**/**/*.fits
**/**/**/**/*.fits
**/**/**/**/**/*.fits

# ignore pickle
*.pickle
.pickle
**.pickle
**/*.pickle
**/**/*.pickle
**/**/**/*.pickle
**/**/**/**/*.pickle
**/**/**/**/**/*.pickle
*.pkl
.pkl
**.pkl
**/*.pkl

.DS_Store

examples/image_properties/interpolator_pickle/
examples/image_properties/interpolator_pickle/*
examples/lens_parameters/interpolator_pickle/
examples/lens_parameters/interpolator_pickle/*
examples/optical_depth/interpolator_pickle/
examples/optical_depth/interpolator_pickle/*
examples/rates/interpolator_pickle/
examples/rates/interpolator_pickle/*
examples/source population/interpolator_pickle/
examples/source population/interpolator_pickle/*

examples/image_properties/ler_data/
examples/image_properties/ler_data/*
examples/lens_parameters/ler_data/
examples/lens_parameters/ler_data/*
examples/optical_depth/ler_data/
examples/optical_depth/ler_data/*
examples/rates/ler_data/
examples/rates/ler_data/*
examples/source population/ler_data/
examples/source population/ler_data/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Ignore build, dist and ler.egg-info
build
dist
ler.egg-info
test
