html5lib==1.0b8  # Hack to ensure documentation generated
setuptools==68.2.2
sphinx-jupyterbook-latex==0.5.2
sphinx-autoapi==2.1.1
myst-parser==1.0.0
nbsphinx==0.9.3
numpydoc==1.6.0
sphinx==5.0.2
sphinx-tabs==3.4.1
sphinx-copybutton==0.5.2
sphinx-rtd-theme==1.2.2
pandoc==3.1.3
autoapi==2.0.1
ler
git+https://git.ligo.org/lscsoft/gwcosmo.git@v1.0.0