.red {
    color: red;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.pink {
    color: pink;
}

.violet {
    color: violet;
}

.yellow {
    color: yellow;
}

.magenta {
    color: magenta;
}

.cyan {
    color: cyan;
}